<div class="flex gap-5 flex-column-reverse md:flex-row">
  <div class="flex-auto p-fluid">
    <div class="flex-auto p-fluid">
      <div class="mb-4">
        <label for="email" class="block font-medium text-900 mb-2">Заголовок</label>
        <input id="email" type="text" [value]="note.header" pInputText>
      </div>

      <div class="mb-4">
        <label for="bio" class="block font-medium text-900 mb-2">Заметка</label>
        <textarea id="bio" type="text"  rows="5" [value]="note.content" [autoResize]="true" pInputTextarea></textarea>
      </div>

      <div class="flex-row">
        <p-button
          icon="pi pi-check"
          label="Сохранить"
          severity="success"
          [style]="{ 'width': '10em' }"
        ></p-button>

        <p-button
          icon="pi pi-trash"
          label="Удалить"
          severity="danger"
          [style]="{ 'width': '10em', 'margin-left': '.5em' }"
        ></p-button>
      </div>
    </div>
  </div>
</div>

