<div class="flex gap-5 flex-column-reverse md:flex-row">
  <div class="flex-auto p-fluid">
    <div class="flex-auto p-fluid">
      <div class="mb-4">
        <input
          id="email"
          type="text" pInputText
          [(ngModel)]="tagName"
        >
      </div>

      <div class="flex-row">
        <p-button
          icon="pi pi-check"
          label="Сохранить"
          severity="success"
          [style]="{ 'width': '10em' }"
          [disabled]="!tagName || tagName.length < 1"
          (onClick)="createTag()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
