<div class="mt-5">
  <p-button
    label="Создать напоминание"
    icon="pi pi-plus"
    (onClick)="createPrompt()"
  ></p-button>

  <div class="mt-5">
    <p-table
      [value]="prompts$()"
      [paginator]="true"
      [rows]="5"
      [showCurrentPageReport]="true"
      [tableStyle]="{ 'min-width': '50rem' }"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]"
      paginatorLocale="fa-IR"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width:80%">Напоминание</th>
          <th style="width:20%">Дата и время</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-customer>
        @for (prompt of prompts$(); track prompt.id) {
          <tr>
            <td>{{ prompt.content }}</td>
            <td>{{ prompt.date | date : 'dd.MM.yyyy HH:mm'}}</td>
          </tr>
        }
      </ng-template>
    </p-table>
  </div>
</div>
